@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');


h1,p,span,input,button{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 400;
  }
  

.hero{
    /* position: relative; */
    background-color: #01b4e400;
    color: #ffff;
    width: 100%;
    /* min-width: 10rem; */
    /* height: 40vh; */
    /* background-image: linear-gradient(to right, rgba(3,37,65, 0.8) 0%, rgba(3,37,65, 0) 100%); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-blend-mode: lighten;
    /* padding-top: 10px;
    padding-bottom: 5px; */
    /* padding-left: 5rem; */
}

.hero_img_cover{
    /* background-image: linear-gradient(to right, #202035 calc((50vw - 170px) - 340px), #202035d6 30%, #202035d6 100%); */
    /* background-image: linear-gradient(to right, rgba(3,37,65, 0.8) 0%, rgba(3,37,65, 0) 100%); */
    /* background-image: linear-gradient(to right, rgba(1,180,228, 0.8) 0%, rgba(1,180,228,0) 100%); */
    background-color: #101010;
    /* opacity: 0.45; */
    /* width: 100%;
    height: 100%; */
    padding-top: 20px;
    padding-bottom: 10px;
    position: absolute;
    z-index: 1;
}

.hero_intro{
    /* background-color: red; */
    padding: 5rem 5rem;
    z-index: 99;
}

.hero_intro h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 5rem;
}

.hero_intro p{
    font-size: 2rem;
    font-weight: 400;
}



