@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,p,span,input,button{
  font-family: 'Source Sans Pro', sans-serif;
}

.home{
  padding: 0 7rem;
}