* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  margin-top: 3rem;
  cursor: pointer;
}

.row_title {
  display: flex;
  align-items: center;
}

.row h1 {
}

.rowstyle {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  margin-left: 2rem;
  padding: 0.3rem;
  border-radius: 2rem;
  border: 1px solid #cccc;
  min-width: 200px;
  overflow: hidden;
}

.rowstyle span {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  z-index: 99;
  font-size: 17px;
  font-weight: 600;
}

/* .gyro_filter span:nth-child(1){
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    max-width: 50%;
    background-color: green;
    border-radius: 2rem;
    transition: all ease-in 0.2s;
} */

.row_posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1.2rem 0;
  /* border: 1px solid green; */
}

.row_posters::-webkit-scrollbar {
  display: none;
}
